# InfluxDB 2 Configuration
# Copy this to .env and modify as needed

INFLUXDB_USERNAME=admin
INFLUXDB_PASSWORD=secret-password
INFLUXDB_ORG=org
INFLUXDB_BUCKET=default
INFLUXDB_ADMIN_TOKEN=mysupersecrettoken
